.center_div {
	width: 820px; 
	background: white; 
	margin: auto; 
	padding: 5px;
}

.index_img1 {
	width: 300px; 
	height: 216px; 
	margin: 15px 10px; 
	float: right;
}

.index_img2 {
	width: 400px; 
	height: 251px; 
	margin: 15px 25px; 
	float: right;
}

.vitamini_img {
	width: 270px; 
	height: 322px; 
	float: left; 
	margin-left: 20px; 
	margin-right: 40px;
}

.sport_img_left {
	width: 300px; 
	height: 216px; 
	margin: 0px 10px; 
	float: left;
}

.sport_img_right {
	width: 300px; 
	height: 216px; 
	margin: 15px 10px; 
	float: right;
}

.green_text {
	 color: #10521C;
}

.producti_img {
	float: left;
	border: 1px solid black;
	margin: 5px;
}

.pohudenie_img1 {
	width: 280px; 
	height: 216px; 
	margin: 15px 10px;
	float: right;
}

.pohudenie_img2 {
	width: 200px; 
	height: 150px; 
	margin: 15px 10px;
	float: right;
}

.pohudenie_img3 {
	margin: 15px 10px;
	float: right;
}

.pohudenie_img5 {
	width: 350px; 
	height: 216px; 
	margin: 15px 10px;
	float: right;
}

.dieta_img {
	float: left;
	border: 1px solid black;
	margin: 5px;
}